
body{
  margin: 0px auto;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

h1{
  font-family: 'Shadows Into Light', cursive; 
}


li {
  font-size: 20px;
    word-wrap: break-word;

}

input{
  text-align: center
}

.center{
 
text-align: center;
margin: 10%;
}

